<!DOCTYPE html>
<html>

<head>
 <link rel="stylesheet" href="file:///C:/Users/Ibasanta%20Chaw/Desktop/Django/dream/static/css/style.css">
</head>

<body>

  <h2 style="text-align:center">Students-ID</h2>

  <div class="cardty">
    <img src="C:\Users\Ibasanta Chaw\Desktop\Django\dream\static\image\anuj.jpg" alt="Basant" style="width:100%">
    <h1>Anuragh BAitha</h1>
    <p class="title">Trade : : HACKER</p>
    <p>Rautahat</p>
    <div style="margin: 24px 0;"class="bg">
      <a href="https://www.facebook.com/basanta.chaudhary.7509"><img src="facebook.png" class="lala"></a>
      <a href="#"><img src="twitter.png" class="lala"></a>
      <a href="https://www.youtube.com/channel/UCF0bo_siMzdjxY_yMVrMypA"><img src="you.png" class="lala"></a>
      <a href="#"><img src="insta.png" class="lala"></a>
    </div>
   
  </div>
  <div style="opacity: 1;" class="cardty">
    <img src="file:///C:/Users/Ibasanta%20Chaw/Desktop/Django/dream/static/image/ind.jpg" alt="Basant" style="width:100%">
    <h1 style="color: rgb(245, 245, 245);">ibasanta</h1>
    <p class="title">Trade : : GAME DEVELOPER</p>
    <p style="font-weight: bolder;color: rgb(255, 255, 255);">Kathmandu</p>
    <div style="margin: 24px 0;"class="bg">
      <a href="https://www.facebook.com/basanta.chaudhary.7509"><img src="download.png" class="lala"></a>
      <a href="#"><img src="twitter.png" class="lala"></a>
      <a href="https://www.youtube.com/channel/UCF0bo_siMzdjxY_yMVrMypA"><img src="you.png" class="lala"></a>
      <a href="#"><img src="insta.png" class="lala"></a>
    </div>
    
  </div>
  <div class="cardty">
    <img src="file:///C:/Users/Ibasanta%20Chaw/Desktop/Django/dream/static/image/abadull.jpg" alt="Basant" style="width:100%">
    <h1>Md Abdulla</h1>
    <p class="title">Trade : : IT ENGINEER</p>
    <p>Turkey</p>
    <div style="margin: 24px 0;"class="bg">
      <a href="https://www.facebook.com/basanta.chaudhary.7509"><img src="facebook.png" class="lala"></a>
      <a href="#"><img src="twitter.png" class="lala"></a>
      <a href="https://www.youtube.com/channel/UCF0bo_siMzdjxY_yMVrMypA"><img src="you.png" class="lala"></a>
      <a href="#"><img src="insta.png" class="lala"></a>
    </div>
  </div>
</body>
</html>